<a href="https://colab.research.google.com/github/4060E009/AI_and_security/blob/master/10_minutes_to_pandas20201021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Series **

In [1]:
 import numpy as np

 import pandas as pd

 s = pd.Series([1, 3, 5, np.nan, 6, 8])
 s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

索引要改成a,b,c, ....

索引要改成11,12,13,14,15
索引要改成10,20,30,40,50

In [62]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
           columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

**DataFrame**

In [35]:
dates = pd.date_range('20201021', periods=6)
dates

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

**Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:**

In [41]:
df = pd.DataFrame(np.random.randn(6, 4),  columns=list('ABCD'))
df

          A         B         C         D
0 -0.474911 -1.547192  1.066935 -0.378024
1 -0.028773  0.362557 -1.377325  0.683523
2  0.901526  1.354885 -1.096767  0.243265
3 -0.300767 -0.214523  0.650104 -0.828354
4  0.682654 -0.508920  0.067138  0.036289
5 -1.038830 -0.450134 -0.677094 -0.287946

**Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:**

In [42]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-10-21 -0.506305  0.344065 -0.286158 -0.173198
2020-10-22 -0.182391  0.137928  1.344575  0.802988
2020-10-23 -1.425736  0.237331  0.970367 -0.893230
2020-10-24  1.577394  0.566895 -0.006576 -0.644733
2020-10-25 -1.883679 -1.344710  2.327107  1.437668
2020-10-26  0.202482 -0.624665  0.969812 -0.575532

**Creating a DataFrame by passing a dict of objects that can be converted to series-like.**

In [43]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

**錯誤更正**    **(解答為202001021多一個0)**

In [ ]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('202001021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

**The columns of the resulting DataFrame have different dtypes.**

In [44]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

**Here is how to view the top and bottom rows of the frame:df.head**

In [45]:
df.head()

                   A         B         C         D
2020-10-21 -0.506305  0.344065 -0.286158 -0.173198
2020-10-22 -0.182391  0.137928  1.344575  0.802988
2020-10-23 -1.425736  0.237331  0.970367 -0.893230
2020-10-24  1.577394  0.566895 -0.006576 -0.644733
2020-10-25 -1.883679 -1.344710  2.327107  1.437668

**df.tail**

In [46]:
df.tail(3)

                   A         B         C         D
2020-10-24  1.577394  0.566895 -0.006576 -0.644733
2020-10-25 -1.883679 -1.344710  2.327107  1.437668
2020-10-26  0.202482 -0.624665  0.969812 -0.575532

**df.index**

In [47]:
df.index

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

**df.columns**

In [48]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

**df.to_numpy()**

In [49]:
df.to_numpy()

array([[-0.50630532,  0.3440651 , -0.28615794, -0.17319792],
       [-0.18239102,  0.13792772,  1.34457487,  0.8029878 ],
       [-1.42573603,  0.23733125,  0.97036713, -0.89322956],
       [ 1.57739441,  0.56689528, -0.00657596, -0.64473343],
       [-1.8836788 , -1.34471006,  2.32710669,  1.43766834],
       [ 0.20248221, -0.62466472,  0.96981182, -0.57553245]])

**df2.to_numpy()**

In [50]:
df2.to_numpy()

array([[1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

**df.describe()**

In [51]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.369706 -0.113859  0.886521 -0.007673
std    1.231232  0.726054  0.945713  0.925862
min   -1.883679 -1.344710 -0.286158 -0.893230
25%   -1.195878 -0.434017  0.237521 -0.627433
50%   -0.344348  0.187629  0.970089 -0.374365
75%    0.106264  0.317382  1.251023  0.558941
max    1.577394  0.566895  2.327107  1.437668

**df.T**

In [52]:
df.T

   2020-10-21  2020-10-22  2020-10-23  2020-10-24  2020-10-25  2020-10-26
A   -0.506305   -0.182391   -1.425736    1.577394   -1.883679    0.202482
B    0.344065    0.137928    0.237331    0.566895   -1.344710   -0.624665
C   -0.286158    1.344575    0.970367   -0.006576    2.327107    0.969812
D   -0.173198    0.802988   -0.893230   -0.644733    1.437668   -0.575532

**df.sort_index(axis=1, ascending=False)**

In [53]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-10-21 -0.173198 -0.286158  0.344065 -0.506305
2020-10-22  0.802988  1.344575  0.137928 -0.182391
2020-10-23 -0.893230  0.970367  0.237331 -1.425736
2020-10-24 -0.644733 -0.006576  0.566895  1.577394
2020-10-25  1.437668  2.327107 -1.344710 -1.883679
2020-10-26 -0.575532  0.969812 -0.624665  0.202482

**df.sort_values(by='B')**

In [54]:
df.sort_values(by='B')

                   A         B         C         D
2020-10-25 -1.883679 -1.344710  2.327107  1.437668
2020-10-26  0.202482 -0.624665  0.969812 -0.575532
2020-10-22 -0.182391  0.137928  1.344575  0.802988
2020-10-23 -1.425736  0.237331  0.970367 -0.893230
2020-10-21 -0.506305  0.344065 -0.286158 -0.173198
2020-10-24  1.577394  0.566895 -0.006576 -0.644733

**Getting**       (Selecting a single column, which yields a Series, equivalent to df.A)

In [55]:
df['A']

2020-10-21   -0.506305
2020-10-22   -0.182391
2020-10-23   -1.425736
2020-10-24    1.577394
2020-10-25   -1.883679
2020-10-26    0.202482
Freq: D, Name: A, dtype: float64

**Selecting via [], which slices the rows.**

In [56]:
df[0:3]

                   A         B         C         D
2020-10-21 -0.506305  0.344065 -0.286158 -0.173198
2020-10-22 -0.182391  0.137928  1.344575  0.802988
2020-10-23 -1.425736  0.237331  0.970367 -0.893230

**df['20130102':'20130104']**

In [58]:
df['20201021' : '20201023']

                   A         B         C         D
2020-10-21 -0.506305  0.344065 -0.286158 -0.173198
2020-10-22 -0.182391  0.137928  1.344575  0.802988
2020-10-23 -1.425736  0.237331  0.970367 -0.893230

**Selection by label**(For getting a cross section using a label)

In [59]:
df.loc[dates[0]]

A   -0.506305
B    0.344065
C   -0.286158
D   -0.173198
Name: 2020-10-21 00:00:00, dtype: float64

**Selecting on a multi-axis by label**

In [60]:
df.loc[:, ['A', 'B']]

                   A         B
2020-10-21 -0.506305  0.344065
2020-10-22 -0.182391  0.137928
2020-10-23 -1.425736  0.237331
2020-10-24  1.577394  0.566895
2020-10-25 -1.883679 -1.344710
2020-10-26  0.202482 -0.624665

**Setting**(Setting a new column automatically aligns the data by the indexes.)

In [65]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20201021', periods=6))
s1

2020-10-21    1
2020-10-22    2
2020-10-23    3
2020-10-24    4
2020-10-25    5
2020-10-26    6
Freq: D, dtype: int64

In [68]:
df['F'] = s1

**Setting values by label**

In [70]:
df.at[dates[0], 'A'] = 0

**Setting values by position**

In [71]:
df.iat[0, 1] = 0

**Setting by assigning with a NumPy array**

In [72]:
In [50]: df.loc[:, 'D'] = np.array([5] * len(df))

In [73]:
df

                   A         B         C  D  F
2020-10-21  0.000000  0.000000 -0.286158  5  1
2020-10-22 -0.182391  0.137928  1.344575  5  2
2020-10-23 -1.425736  0.237331  0.970367  5  3
2020-10-24  1.577394  0.566895 -0.006576  5  4
2020-10-25 -1.883679 -1.344710  2.327107  5  5
2020-10-26  0.202482 -0.624665  0.969812  5  6

**A where operation with setting**

In [75]:
 df2 = df.copy()

 df2[df2 > 0] = -df2
 
 df2

                   A         B         C  D  F
2020-10-21  0.000000  0.000000 -0.286158 -5 -1
2020-10-22 -0.182391 -0.137928 -1.344575 -5 -2
2020-10-23 -1.425736 -0.237331 -0.970367 -5 -3
2020-10-24 -1.577394 -0.566895 -0.006576 -5 -4
2020-10-25 -1.883679 -1.344710 -2.327107 -5 -5
2020-10-26 -0.202482 -0.624665 -0.969812 -5 -6

**Missing data**(pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section.)

In [76]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1], 'E'] = 1

df1

                   A         B         C  D  F    E
2020-10-21  0.000000  0.000000 -0.286158  5  1  1.0
2020-10-22 -0.182391  0.137928  1.344575  5  2  1.0
2020-10-23 -1.425736  0.237331  0.970367  5  3  NaN
2020-10-24  1.577394  0.566895 -0.006576  5  4  NaN

**To drop any rows that have missing data.**

In [77]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2020-10-21  0.000000  0.000000 -0.286158  5  1  1.0
2020-10-22 -0.182391  0.137928  1.344575  5  2  1.0

**Filling missing data**

In [78]:
df1.fillna(value=5)

                   A         B         C  D  F    E
2020-10-21  0.000000  0.000000 -0.286158  5  1  1.0
2020-10-22 -0.182391  0.137928  1.344575  5  2  1.0
2020-10-23 -1.425736  0.237331  0.970367  5  3  5.0
2020-10-24  1.577394  0.566895 -0.006576  5  4  5.0

**To get the boolean mask where values are nan.**

In [79]:
pd.isna(df1)

                A      B      C      D      F      E
2020-10-21  False  False  False  False  False  False
2020-10-22  False  False  False  False  False  False
2020-10-23  False  False  False  False  False   True
2020-10-24  False  False  False  False  False   True